* {
  box-sizing: border-box;
}
body {
  position: relative;
}
main {
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
  padding: 30px;
}
div {

  border-radius: 1%;
  margin: 15px;
  padding: 15px;

}
button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h3{
  font-style: italic;
}
.profile-content {
  float: left;
  width: 25%;
  margin: 0;

}
.profile {
  height: auto;
  background-color: white;
  margin: 0 0 30px 0;
  text-align: center;
}

.profile > p {
  text-align:justify;
}
.profile-image {
  border-radius: 50%;
}

.profile-image {
  width: 50px;
  height: 50px;

}
.social {
  height: auto;
  background-color: white;
  margin: 0;
}
.social > img {
  width: 31%;

}
.topthree {
  width: 60%;
  height: auto;
  background-color: white;
  float: left;
}

.title {
  margin-top: 0;
}
.toptreeitem {
    border-bottom: 2px solid gray;

    margin: 5px;

}

.toptreeitem > img {
  width: 15%;
padding: 10px;
float: left;

}
.item-text {
  width: 70%
  float:left;
  margin: 0;
  padding: 0;
  text-align: justify;

}

.footer::before {


    content: "";
    display: table;
    clear: both;

}
